<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_22bd3c90b29744619d044678d64e183d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_22bd3c90b29744619d044678d64e183d" ></div>
        
</body>
<script>    
    
            var map_22bd3c90b29744619d044678d64e183d = L.map(
                "map_22bd3c90b29744619d044678d64e183d",
                {
                    center: [46.5, 12.034],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c61e0aeb18b041ba86000938a68cb000 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
            var marker_ffb2a7ed4f994a7d8c39d79808ec825d = L.marker(
                [46.612, 12.014],
                {}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
            var icon_873b379518944e34896476ec392ce4e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ffb2a7ed4f994a7d8c39d79808ec825d.setIcon(icon_873b379518944e34896476ec392ce4e0);
        
    
        var popup_9b3e06d2af1a473c87f9dfe4cb7c8b2c = L.popup({"maxWidth": "100%"});

        
            var html_8c8dba8ec6f44883a163bee5d0ea61c8 = $(`<div id="html_8c8dba8ec6f44883a163bee5d0ea61c8" style="width: 100.0%; height: 100.0%;"><i>Fanes</i></div>`)[0];
            popup_9b3e06d2af1a473c87f9dfe4cb7c8b2c.setContent(html_8c8dba8ec6f44883a163bee5d0ea61c8);
        

        marker_ffb2a7ed4f994a7d8c39d79808ec825d.bindPopup(popup_9b3e06d2af1a473c87f9dfe4cb7c8b2c)
        ;

        
    
    
            var marker_7b07b2d01a674738825b766b05973a2e = L.marker(
                [46.52790895234828, 12.006634970066306],
                {}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
            var icon_7554e98a593b49d78b8afe41bae0ce3b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7b07b2d01a674738825b766b05973a2e.setIcon(icon_7554e98a593b49d78b8afe41bae0ce3b);
        
    
        var popup_6949422c533b4613915bcf148944fd5e = L.popup({"maxWidth": "100%"});

        
            var html_079a61388a5042fdbcebfe919d61bd6d = $(`<div id="html_079a61388a5042fdbcebfe919d61bd6d" style="width: 100.0%; height: 100.0%;"><i>Lagazuoi</i></div>`)[0];
            popup_6949422c533b4613915bcf148944fd5e.setContent(html_079a61388a5042fdbcebfe919d61bd6d);
        

        marker_7b07b2d01a674738825b766b05973a2e.bindPopup(popup_6949422c533b4613915bcf148944fd5e)
        ;

        
    
    
            var marker_8698b2c1a2b74f0aa8da7aea71985069 = L.marker(
                [46.495503291312566, 12.043700227050941],
                {}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
            var icon_edbdab0c1e0c4c439d1a81fd12bd091a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8698b2c1a2b74f0aa8da7aea71985069.setIcon(icon_edbdab0c1e0c4c439d1a81fd12bd091a);
        
    
        var popup_dd2e521dcd68457abafa61840741a086 = L.popup({"maxWidth": "100%"});

        
            var html_fcd56a9d702f4ddca14259005db32903 = $(`<div id="html_fcd56a9d702f4ddca14259005db32903" style="width: 100.0%; height: 100.0%;"><i>Nuvolau</i></div>`)[0];
            popup_dd2e521dcd68457abafa61840741a086.setContent(html_fcd56a9d702f4ddca14259005db32903);
        

        marker_8698b2c1a2b74f0aa8da7aea71985069.bindPopup(popup_dd2e521dcd68457abafa61840741a086)
        ;

        
    
    
            var marker_aade599f4ef346b58335a89554863e1b = L.marker(
                [46.41567195669621, 12.157135859167365],
                {}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
            var icon_e9d13cb95af74fcba7866d2640fdac62 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_aade599f4ef346b58335a89554863e1b.setIcon(icon_e9d13cb95af74fcba7866d2640fdac62);
        
    
        var popup_3ccff7cf5eff4da3bbef8cfbc8224fb0 = L.popup({"maxWidth": "100%"});

        
            var html_2c06b9e26f414359b509f518ec0d7449 = $(`<div id="html_2c06b9e26f414359b509f518ec0d7449" style="width: 100.0%; height: 100.0%;"><i>Venezia</i></div>`)[0];
            popup_3ccff7cf5eff4da3bbef8cfbc8224fb0.setContent(html_2c06b9e26f414359b509f518ec0d7449);
        

        marker_aade599f4ef346b58335a89554863e1b.bindPopup(popup_3ccff7cf5eff4da3bbef8cfbc8224fb0)
        ;

        
    
    
            var marker_726890e0d6124d05b61bdac298d9cd85 = L.marker(
                [46.32136503928845, 12.071322847783737],
                {}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
            var icon_f3574a96b0cd4975b64acb3323e71b80 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_726890e0d6124d05b61bdac298d9cd85.setIcon(icon_f3574a96b0cd4975b64acb3323e71b80);
        
    
        var popup_b48924c5478c4e2fb3229509d15c8821 = L.popup({"maxWidth": "100%"});

        
            var html_f23ea7a0fdf149ddb31e073195da7758 = $(`<div id="html_f23ea7a0fdf149ddb31e073195da7758" style="width: 100.0%; height: 100.0%;"><i>Carestiato</i></div>`)[0];
            popup_b48924c5478c4e2fb3229509d15c8821.setContent(html_f23ea7a0fdf149ddb31e073195da7758);
        

        marker_726890e0d6124d05b61bdac298d9cd85.bindPopup(popup_b48924c5478c4e2fb3229509d15c8821)
        ;

        
    
    
            var marker_126847d05ce7422485c8efaababfcf49 = L.marker(
                [46.26195860035523, 12.17707508340776],
                {}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
            var icon_30a77084998a4a6bbdad5425c0cf0ef5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_126847d05ce7422485c8efaababfcf49.setIcon(icon_30a77084998a4a6bbdad5425c0cf0ef5);
        
    
        var popup_4a72c525ef304a938f483990fccace03 = L.popup({"maxWidth": "100%"});

        
            var html_57f72e7417a349c18b12ecc9e268ac1c = $(`<div id="html_57f72e7417a349c18b12ecc9e268ac1c" style="width: 100.0%; height: 100.0%;"><i>Pian di Fontana</i></div>`)[0];
            popup_4a72c525ef304a938f483990fccace03.setContent(html_57f72e7417a349c18b12ecc9e268ac1c);
        

        marker_126847d05ce7422485c8efaababfcf49.bindPopup(popup_4a72c525ef304a938f483990fccace03)
        ;

        
    
    
            var marker_53f74ea82dcb42748bb82d01040cb8cf = L.marker(
                [46.698998736440565, 12.084373754161398],
                {}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
            var icon_45ae17f9d18d4163a4d4a2f7a68f17fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_53f74ea82dcb42748bb82d01040cb8cf.setIcon(icon_45ae17f9d18d4163a4d4a2f7a68f17fc);
        
    
        var popup_1daf55f53c604b7d9ece111dad9051ef = L.popup({"maxWidth": "100%"});

        
            var html_b78d456644ad4896a44b1e995149a602 = $(`<div id="html_b78d456644ad4896a44b1e995149a602" style="width: 100.0%; height: 100.0%;"><i>Lago di Braies</i></div>`)[0];
            popup_1daf55f53c604b7d9ece111dad9051ef.setContent(html_b78d456644ad4896a44b1e995149a602);
        

        marker_53f74ea82dcb42748bb82d01040cb8cf.bindPopup(popup_1daf55f53c604b7d9ece111dad9051ef)
        ;

        
    
    
            var marker_6b982473b20a4a8c99e3d4167985a732 = L.marker(
                [46.18292016797855, 12.195700997500213],
                {}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
            var icon_99c51482a1584439986e2245653c007b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6b982473b20a4a8c99e3d4167985a732.setIcon(icon_99c51482a1584439986e2245653c007b);
        
    
        var popup_9e6395a55a78447aaa084e638223d28e = L.popup({"maxWidth": "100%"});

        
            var html_8acf5d6c5cc54ce3acd8f73f8f664411 = $(`<div id="html_8acf5d6c5cc54ce3acd8f73f8f664411" style="width: 100.0%; height: 100.0%;"><i>Pra de Luni</i></div>`)[0];
            popup_9e6395a55a78447aaa084e638223d28e.setContent(html_8acf5d6c5cc54ce3acd8f73f8f664411);
        

        marker_6b982473b20a4a8c99e3d4167985a732.bindPopup(popup_9e6395a55a78447aaa084e638223d28e)
        ;

        
    
    
            var poly_line_265393f2f4a2489ea347da5d20b00777 = L.polyline(
                [[46.698998736440565, 12.084373754161398], [46.612, 12.014]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
        var popup_eee1c832ea3b4fb898a66d7e037d5b78 = L.popup({"maxWidth": "100%"});

        
            var html_7a8eec3410514c6985ea4c7bd65de4c1 = $(`<div id="html_7a8eec3410514c6985ea4c7bd65de4c1" style="width: 100.0%; height: 100.0%;"><i>Distance 20	Climb 1465	Descent 890	Time 8</i></div>`)[0];
            popup_eee1c832ea3b4fb898a66d7e037d5b78.setContent(html_7a8eec3410514c6985ea4c7bd65de4c1);
        

        poly_line_265393f2f4a2489ea347da5d20b00777.bindPopup(popup_eee1c832ea3b4fb898a66d7e037d5b78)
        ;

        
    
    
            var poly_line_b9a17198b1be4ef7a7447a23839ca641 = L.polyline(
                [[46.612, 12.014], [46.52790895234828, 12.006634970066306]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
        var popup_7eb1ce90bdce4b058c55c58a6853285a = L.popup({"maxWidth": "100%"});

        
            var html_90f059d8e6cd43f98044d98f3fd029fa = $(`<div id="html_90f059d8e6cd43f98044d98f3fd029fa" style="width: 100.0%; height: 100.0%;"><i>Distance 11	Climb 1070	Descent 375	Time 5</i></div>`)[0];
            popup_7eb1ce90bdce4b058c55c58a6853285a.setContent(html_90f059d8e6cd43f98044d98f3fd029fa);
        

        poly_line_b9a17198b1be4ef7a7447a23839ca641.bindPopup(popup_7eb1ce90bdce4b058c55c58a6853285a)
        ;

        
    
    
            var poly_line_a87e424b57b640849b8e025089773fc4 = L.polyline(
                [[46.52790895234828, 12.006634970066306], [46.495503291312566, 12.043700227050941]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
        var popup_20ad1988f059491dae99bb237ff7d5d2 = L.popup({"maxWidth": "100%"});

        
            var html_b6908af0a2db4bfabc06ce59e2d30048 = $(`<div id="html_b6908af0a2db4bfabc06ce59e2d30048" style="width: 100.0%; height: 100.0%;"><i>Distance 15	Climb 635	Descent 810	Time 5.5</i></div>`)[0];
            popup_20ad1988f059491dae99bb237ff7d5d2.setContent(html_b6908af0a2db4bfabc06ce59e2d30048);
        

        poly_line_a87e424b57b640849b8e025089773fc4.bindPopup(popup_20ad1988f059491dae99bb237ff7d5d2)
        ;

        
    
    
            var poly_line_0feb0fd9a105402c99967883926b8d76 = L.polyline(
                [[46.495503291312566, 12.043700227050941], [46.41567195669621, 12.157135859167365]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
        var popup_4dc0f14deb964f738b5fab0d429cfc94 = L.popup({"maxWidth": "100%"});

        
            var html_7f08e894b98d42b3931326d6fbc620f1 = $(`<div id="html_7f08e894b98d42b3931326d6fbc620f1" style="width: 100.0%; height: 100.0%;"><i>Distance 23	Climb 840	Descent 1905	Time 10</i></div>`)[0];
            popup_4dc0f14deb964f738b5fab0d429cfc94.setContent(html_7f08e894b98d42b3931326d6fbc620f1);
        

        poly_line_0feb0fd9a105402c99967883926b8d76.bindPopup(popup_4dc0f14deb964f738b5fab0d429cfc94)
        ;

        
    
    
            var poly_line_59d95009714e4223a75f04108f75f9a5 = L.polyline(
                [[46.41567195669621, 12.157135859167365], [46.32136503928845, 12.071322847783737]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
        var popup_aa0f7689a1dc482c92f6865888299df7 = L.popup({"maxWidth": "100%"});

        
            var html_6049b84560464c5b98e03b81e3ed56c3 = $(`<div id="html_6049b84560464c5b98e03b81e3ed56c3" style="width: 100.0%; height: 100.0%;"><i>Distance 22	Climb 1400	Descent 1080	Time 10</i></div>`)[0];
            popup_aa0f7689a1dc482c92f6865888299df7.setContent(html_6049b84560464c5b98e03b81e3ed56c3);
        

        poly_line_59d95009714e4223a75f04108f75f9a5.bindPopup(popup_aa0f7689a1dc482c92f6865888299df7)
        ;

        
    
    
            var poly_line_7249a0386d31422882b2cce45169eb4b = L.polyline(
                [[46.32136503928845, 12.071322847783737], [46.26195860035523, 12.17707508340776]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
        var popup_9f6835cd29ce47cea8991264af088860 = L.popup({"maxWidth": "100%"});

        
            var html_1673a0473718474fae4d38455720bb68 = $(`<div id="html_1673a0473718474fae4d38455720bb68" style="width: 100.0%; height: 100.0%;"><i>Distance 19	Climb 990	Descent 1190	Time 8</i></div>`)[0];
            popup_9f6835cd29ce47cea8991264af088860.setContent(html_1673a0473718474fae4d38455720bb68);
        

        poly_line_7249a0386d31422882b2cce45169eb4b.bindPopup(popup_9f6835cd29ce47cea8991264af088860)
        ;

        
    
    
            var poly_line_95438c08e6da410eb81f9b0f66152afa = L.polyline(
                [[46.26195860035523, 12.17707508340776], [46.18292016797855, 12.195700997500213]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_22bd3c90b29744619d044678d64e183d);
        
    
        var popup_a8a3af5661214b378067202adaa6e1f1 = L.popup({"maxWidth": "100%"});

        
            var html_6a689ce791bb4a82ab34b2890ff84fac = $(`<div id="html_6a689ce791bb4a82ab34b2890ff84fac" style="width: 100.0%; height: 100.0%;"><i>Distance 15	Climb 930	Descent 1765	Time 9</i></div>`)[0];
            popup_a8a3af5661214b378067202adaa6e1f1.setContent(html_6a689ce791bb4a82ab34b2890ff84fac);
        

        poly_line_95438c08e6da410eb81f9b0f66152afa.bindPopup(popup_a8a3af5661214b378067202adaa6e1f1)
        ;

        
    
</script>
